@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font family of tinder - no se uso estos fonts xd */
@font-face {
  font-family: "Gotham Rounded Bold";
  src: local("GothamRoundedBold"),
    url("fonts/GothamRounded/GothamRoundedBold.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Bold Italic";
  src: local("GothamRoundedBoldItalic"),
    url("fonts/GothamRounded/GothamRoundedBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Book";
  src: local("GothamRoundedBook"),
    url("fonts/GothamRounded/GothamRoundedBook.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Book Italic";
  src: local("GothamRoundedBookItalic"),
    url("fonts/GothamRounded/GothamRoundedBookItalic.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Light";
  src: local("GothamRoundedLight"),
    url("fonts/GothamRounded/GothamRoundedLight.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Light Italic";
  src: local("GothamRoundedLightItalic"),
    url("fonts/GothamRounded/GothamRoundedLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Medium";
  src: local("GothamRoundedMedium"),
    url("fonts/GothamRounded/GothamRoundedMedium.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Rounded Medium Italic";
  src: local("GothamRoundedMediumItalic"),
    url("fonts/GothamRounded/GothamRoundedMediumItalic.otf") format("opentype");
}

:root {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(
      21deg,
      rgba(234, 91, 110, 0.52),
      rgba(98, 186, 243, 0.73)
    ),
    url("img/infinite.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

mark {
  background-color: #ff8787;
  font-family: "Alegreya Sans SC", sans-serif;
  color: #fefdfb;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.pulse {
  border: 1px white solid;
  outline: none;
  margin-top: 10px;
  width: 100%;
  font-weight: 600;
  max-width: 400px;
  border-radius: 67.179px;
  background-color: transparent;
  text-transform: uppercase;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s infinite;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.pulse {
  --color: #ff8787;
  --hover: #ff9ed7;
}

pulse:hover,
pulse:focus {
  border-color: var(--hover);
  background-color: #ff9ed79b;
  color: #090909;
}

input {
  background-color: white;
}
