@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham Rounded Bold';
  src: local('GothamRoundedBold'), url('fonts/GothamRounded/GothamRoundedBold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Bold Italic';
  src: local('GothamRoundedBoldItalic'), url('fonts/GothamRounded/GothamRoundedBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Book';
  src: local('GothamRoundedBook'), url('fonts/GothamRounded/GothamRoundedBook.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Book Italic';
  src: local('GothamRoundedBookItalic'), url('fonts/GothamRounded/GothamRoundedBookItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Light';
  src: local('GothamRoundedLight'), url('fonts/GothamRounded/GothamRoundedLight.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Light Italic';
  src: local('GothamRoundedLightItalic'), url('fonts/GothamRounded/GothamRoundedLightItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Medium';
  src: local('GothamRoundedMedium'), url('fonts/GothamRounded/GothamRoundedMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Rounded Medium Italic';
  src: local('GothamRoundedMediumItalic'), url('fonts/GothamRounded/GothamRoundedMediumItalic.otf') format('opentype');
}


:root {
  line-height: 1.5;
  font-family: 'Gotham Rounded Medium', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(21deg, rgba(234, 91, 110, 0.52), rgba(98, 186, 243, 0.73)), url('img/infinite.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mark {
  background-color: #FF8787;
  font-family: 'Poppins', sans-serif;
  color:#fefdfb;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
